<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {{mymap.js}}

    <title>Shivam's Challenge Submission</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script>
    function getLocation()
    {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position)
            {
                console.log(position.coords.latitude);
            })
        }
    }
</script>

<body onload="getLocation()">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Capital One Engineering Summit Challenge</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="application.html">My Application</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="formEntry">
            <div id="formImage">
                <img id="yelp_image" src="static/images/yelp_logo.png"/>
            </div>
            <div id="form">
                <form action="{{ url_for('performSearch') }}"method="POST" class="search-box">
                    <div id="leftForm">
                        <div id="term" class="textEntry">
                            <div id="preBoxText"><p><strong>Cuisine:</strong></p></div>
                            <div id ="sch"><input id="searchTerm" type="text" name="searchTerm" placeholder="Mexican, Italian, or Five Guys" required></div>
                        </div>
                        <div id="zip" class="textEntry">
                            <div id="preBoxText"><span><p><strong>Location:</strong></p></span></div>
                            <div id ="sch"><input id="location" type="text" name="location" placeholder="123 Apple St, Austin, TX, 73301" required> </div>
                        </div>
                        <div id="radNLim" class="textEntry">
                            <div id="radius" class="textEntry">
                                <div id="biggerBox"><span><p><strong>Radius (mi):</strong></p></span></div> 
                                <div id ="smallerSch"><input id="rad" type="number" min="1" max="25" name="radius" placeholder="4"> </div>
                            </div>
                            <div id="lim" class="textEntry">
                                <div id="biggerBox2"><span><p><strong>Max Number of Businesses:</strong></p></span></div> 
                                <div id ="smallerSch"><input id="maxNum" type="number" name="limit" placeholder="10"></div>
                            </div>
                        </div>
                    </div>
                    <div id="rightForm">
                        <div id="handler">
                          <div id="open">
                            <h5>Do you want a location that is open right now?</h5>
                            <input id="radio1" type="radio" name="open" value="true">&nbsp&nbspYeah. I'm looking to go right now!<br>
                            <input id="radio2" type="radio" name="open" value="false" checked>&nbsp&nbspNo. It doesn't matter<br>
                          </div>
                            <div id="sortFilter">
                                <div id="sortText">
                                    <h5>Sort By:&nbsp&nbsp</h5>
                                </div>
                                <div id="sortArea">
                                    <select>
                                      <option value="best_match">Best Match</option>
                                      <option value="rating">Rating</option>
                                      <option value="review_count">Review Count</option>
                                      <option value="distance">Distance</option>
                                    </select>
                                </div>
                            </div>
                            <div id="priceLevel">
                                <h5>Check the price levels that work for you?</h5>
                                <div id="leftPrices">
                                    <input type="checkbox" name="price1" value="1"> $<br>
                                    <input type="checkbox" name="price3" value="3"> $$$<br>
                                </div>
                                <div id="rightPrices">
                                    <input type="checkbox" name="price2" value="2"> $$<br>
                                    <input type="checkbox" name="price4" value="4"> $$$$<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="subBut" type="image" src="static/images/seach.png">
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div id="mapArea">
        {{mymap.html}}
    </div>
    <div id="resultsArea">
        <div id="scrollingResults" style="overflow-x:hidden; overflow-y: scroll; height:100%; padding-top: 2%; border-bottom: 5px; padding-left: 2%;">
            {% for bus in results %}
            <div id="venue" style="border-bottom: groove; min-height: 180px; max-height: 180px;">
                <div style="width: 96%; right: 2%">
                    <div id="leftResult" style="width: 50%; float: left;">
                        <h4 style="overflow: auto" align="left"><a style="overflow: auto" target=_blank href="{{ bus['url'] }}">{{ bus['name'] }}</a></h4>
                        <h5><img src=static/images/home.png style='max-width: 20px; max-height: 20px;'> {{ bus['location']['display_address'][0] }}</h5>
                        <h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ bus['location']['display_address'][1] }}</h5></h5>
                        <h5><img src=static/images/phone.png style='max-width: 20px; max-height: 20px;'> {{ bus['display_phone'] }}</h5>
                        <h5><img src=static/images/rating.png style='max-width: 20px; max-height: 20px;'> {{ bus['rating'] }}</h5>
                    </div>
                    <div id="rightResult" style="float: right; max-height: 100%; min-height: 100%; max-width: 45%;">
                     <img id="locImage" style="max-height: 165px; max-width: 100%; object-fit: contain; position: relative; vertical-align: middle; inline-block;" src="{{ bus['image_url'] }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
